body {
  background-color: #ffffff;
}

.container-search {
  padding: 2% 0px 3% 0;
  text-align: center;
  background: #fff8d6dd;
  width: 100%;
}

.title-agency {
  text-transform: uppercase;
}

.paragraph-agency {
  text-transform: uppercase;
  height: 40%;
}

.container-search form {
  margin: 2% 0% 2% 25%;
  width: 50%;
}

.container-search .row {
  text-align: center;
}

.pdr-5 {
    padding-right: 2%;
    padding-top: 3%
}

.container-cards {
    margin-left: 6%;
    width: 100%;
}

.tac {
    text-align: center
}
