.container-search {
    padding: 5% 0px 5% 0;
    text-align: center;
    background: #fff8d6dd;
    width: 100%;
}

.container-search form {
    margin-left: 15%;
}

.pdr-5 {
    padding-right: 2%;
    padding-top: 3%
}

.container-cards {
    margin-left: 6%;
    width: 100%;
}

.tac {
    text-align: center
}