<!--suppress ALL -->
<div class="container-search">
    <form [formGroup]="formGroup">
        <div class="row">
            <div class="col-md-12"><h1>Buscador de Agencias</h1></div>
            <div class="col-md-6 mt-2">
                <label for='site'>Site</label>
                <select formControlName="site" name="site" [(ngModel)]='site' class="form-control" (ngModelChange)="getPaymentMethods($event)">
                            <option value="0" selected disabled>Seleccionar site</option>
                            <option [value]="site.id" *ngFor="let site of sites">{{site.name}}</option>
                        </select>
            </div>
            <div class="col-md-6 mt-2">
                <label for="paymentmethod">Payment</label>
                <select class="form-control" formControlName="paymentmethod" name="paymentmethod" [(ngModel)]='paymentmethod'>
                            <option value="0" selected disabled>Seleccionar método de pago</option>
                            <option [value]="paymentmethod.id" *ngFor="let paymentmethod of paymentmethods">{{paymentmethod.name}}</option>
                        </select>
            </div>
            <div class="col-md-4 mt-2">
                <label for="latitud">Latitud</label>
                <input formControlName="latitud" type="number" class="form-control" name="latitud" [(ngModel)]="latitud" placeholder="Ejemplo: -31.412971">
            </div>
            <div class="col-md-4 mt-2">
                <label for="longitud">Longitud</label>
                <input formControlName="longitud" type="number" class="form-control" name="longitud" [(ngModel)]="longitud" placeholder="Ejemplo: -64.18758">
            </div>
            <div class="col-md-4 mt-2">
                <label for="radio">Radio</label>
                <input formControlName="radio" type="number" class="form-control" name="radio" [(ngModel)]="radio" placeholder="Ejemplo 300">
            </div>
            <div class="col-md-3 mt-2">
                <label for="limit">Límite</label>
                <input type="number" formControlName="limit" class="form-control" name="limit" [(ngModel)]="limit">
            </div>
            <div class="col-md-3 mt-2">
                <label for="offset">OffSet</label>
                <input type="number" formControlName="offset" class="form-control" name="offset" [(ngModel)]="offset">
            </div>
            <div class="col-md-3 mt-2">
                <label for="orderby">Order by</label>
                <select class="form-control" formControlName="orderby" name="orderby" [(ngModel)]='orderby'>
                    <option value="address_line">dirección</option>
                    <option value="agency_code">código agencia</option>
                    <option value="distance">distancia</option>
                </select>
            </div>
            <div class="col-md-3 mt-2">
                <label for="criterio">Criterio</label>
                <select class="form-control" formControlName="criterio" name="criterio" [(ngModel)]='criterio'>
                    <option value="ASC" selected>ASC</option>
                    <option value="DESC">DESC</option>
                </select>
            </div>
            <div class="col-md-12 mt-3">
                <button type="button" class="btn btn-primary" (click)="getAgencies()">Buscar</button>
            </div>
        </div>
    </form>
    <a class="mt-2" [routerLink]="['/list-agencies-recomended.html']">Ver lista de agencias recomendadas</a>
</div>

<div class="row container-cards">
    <div class="pdr-5" *ngFor="let agencie of agencies">
        <div class="card" style="width: 18rem; height: 100%; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
            <div class="card-body">
                <h5 class="card-title tac title-agency">{{agencie.description}}</h5><br>
              <p class="card-text tac title-agency">
                {{agencie.address.address_line}} <br> Agencia Nro: {{agencie.agency_code}}
              </p>
                <h6 class="card-subtitle mb-2 text-muted tac">{{agencie.address.city}} ({{agencie.address.state}})</h6>
                <h6 class="card-subtitle mb-2 text-muted tac">{{agencie.address.country}}</h6>
                <div class="row col-md-12 tac">
                    <div class="col-md-6">
                        <a href="#" title="Añadir agencia" (click)="saveAgencie(agencie.id)"><img src="../../../assets/img/thumbs-up.png" /></a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" title="Quitar agencia" (click)="removeAgencie(agencie.id)"><img src="../../../assets/img/thumb-down.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
